@import url("https://fonts.google.com/specimen/Inter");
@import url("https://fonts.google.com/specimen/Lexend+Deca");

body {
    width: 1440px;
    height: auto;
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
}
h1{
    color: hsl(0, 0%, 100%);
}
h2{
    color: hsla(0, 0%, 100%, 0.918);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
}
.box {
    transform: translate(18%, 25%);
    width: 1080px;
    height: 448px;
    background-color: hsl(244, 38%, 16%);
}
.box .image {
    float: right;
}
.box .main {
    width: 350px;
    margin-left: 70px;
    padding-top: 50px;
}
.main h1 {
    font-weight: 700;
}
.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
    padding-top: 75px;
    width: 300px;
}
.information p {
    text-transform: uppercase;
}












.attribution {
    font-size: 11px; text-align: center;
    margin-top: 300px;
    text-align: center; 
    color: white;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-align: center;
}