@import url("https://fonts.google.com/specimen/Inter");
@import url("https://fonts.google.com/specimen/Lexend+Deca");

body {
    width: 1440px;
    height: auto;
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
}
h1{
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
}
h2{
    color: hsla(0, 0%, 100%, 0.993);
    font-family: "Inter", sans-serif;
}
p{
    color: hsla(0, 0%, 100%, 0.664);
    font-family: "Lexend Deca", sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.box {
    transform: translate(18%, 25%);
    width: 1080px;
    height: 448px;
    background-color: hsl(244, 38%, 16%);
}
.box .image {
    float: right;
}
.box .main {
    width: 350px;
    margin-left: 70px;
    padding-top: 50px;
}
.main h1 {
    font-weight: 700;
}
.main .paragraph {
    padding-top:20px;
    line-height: 2em;
    width: 300px;
}
.information {
    display: flex;
    flex-direction: row;
    padding-right: 50px;
    justify-content: space-between;
    padding-top: 75px;
}
.information * {
    margin: 0;
    padding: 0;
}
.information h2 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
}
.information p {
    text-transform: uppercase;
    font-size: 10px;
}
.information .company {
    width: 75px;
}
.information .templates {
    width: 75px;
}
.information .quary {
    width: 75px;
}












.attribution {
    font-size: 11px; text-align: center;
    margin-top: 300px;
    text-align: center; 
    color: white;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-align: center;
}