body {
    width: 1440px;
    height: auto;
    background-color: hsl(233, 47%, 7%);
}
h1{
    color: hsl(0, 0%, 100%);
}
h2{
    color: hsla(0, 0%, 100%, 0.918);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
}
.box {
    transform: translate(10%, 25%);
}












.attribution {
    font-size: 11px; text-align: center;
    margin-top: 300px;
    text-align: center; 
    color: white;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-align: center;
}